body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jumboBG {
  background-image: linear-gradient(
      rgb(11 11 11 / 60%) 30%,
      rgb(224 253 232 / 38%) 100%
    ),
    url("https://images.pexels.com/photos/2767814/pexels-photo-2767814.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 22%;
}

.BGFooter {
  background-image: linear-gradient(
      rgb(11 11 11 / 74%) 50%,
      rgb(253 246 224 / 0%) 106%
    ),
    url("https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 55%;
  color: aliceblue;
  margin-top: 128px;
  padding-top: 128px;
  padding-bottom: 128px;
}

.jumbotron p {
  font-size: 22px;
}

.jumbotron h1 {
  font-size: 48px;
}

.my-badge {
  position: absolute;
  right: 25px;
  top: 40px;
}


#commentArea img {
  max-height: 320px;
  object-fit: contain;
}